<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cuestionario__proyecto.My.MySettings.CUESTIONARIOConnectionString"
            connectionString="Data Source=DESKTOP-N3PL2OJ;Initial Catalog=CUESTIONARIO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cuestionario__proyecto.My.MySettings.CUESTIONARIO_FINALConnectionString"
            connectionString="Data Source=DESKTOP-N3PL2OJ;Initial Catalog=CUESTIONARIO_FINAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>